.button {
    width: 65px;
    height: 65px;
    border: none;
    background: #000;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.button--large-h {
    width: 140px;
    grid-column: span 2;
}

.button--large-v {
    height: 140px;
    grid-row: span 2;
}

.button--command {
    background: #e67a0a;
}

.button:hover {
    opacity: 0.8;
    transform: scale(.91);
}